<%= form_with(model: matricula) do |form| %>
  <% if matricula.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(matricula.errors.count, "error") %> prohibited this matricula from being saved:</h2>

      <ul>
        <% matricula.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :asignatura_id, style: "display: block" %>
    <%= select :matricula, :asignatura_id, Asignatura.all.collect {|a| [a.name, a.id]} %>
  </div>

  <div>
    <%= form.label :alumno_id, style: "display: block" %>
    <%= select :matricula, :alumno_id, Alumno.all.collect {|al| [al.name, al.id]} %>
  </div>

  <div>
    <%= form.label :semestre, style: "display: block" %>
    <%= form.number_field :semestre %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
